<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoshCarrier</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full fixed top-0 left-0 px-5 py-3">
        <div class="flex justify-between">
            <h3 class="text-xl">PoshCarrier</h3>
            <% var islogin = typeof islogin !== "undefined"? islogin : true %>

            <% if (islogin) { %>
                <div>
                    <ul class="flex gap-10 ">
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li> <a href="">My Account</a></li>
                        <li><a class="text-red-500 font-bold " href="/user/logout">Logout</a></li>
                    </ul>
                </div>
            <% } %>
         
        </div>
    </nav>