<%- include('./partials/header') %>
<% if (error.length > 0) { %>
  <div id="flash-message" class="flash-message  z-50 p-4 rounded-md bg-red-500 text-white fixed top-10 left-1/2 transform -translate-x-1/2 transition-opacity duration-500 flex justify-between items-center">
      <span><%= error %></span>
      <button id="close-flash" class="ml-4 text-white font-bold">&times;</button>
  </div>
<% } %>




<div class="w-full  h-screen flex flex-col md:flex-row items-center px-4 md:px-16 md:mt-10">
  <!-- Registration Section -->
  <div class="w-full md:w-1/2 flex items-center justify-center py-6 md:py-0 mt-16">
    <div class="w-full md:w-3/4 bg-gray-200 p-6 rounded-lg">
      <h3 class="text-3xl md:text-4xl mb-4">
        Welcome to 
        <span class="text-blue-400 font-semibold">PoshCarrier</span>
      </h3>
      <h4 class="text-xl md:text-2xl mb-5">Create your account</h4>
      <form autocomplete="off" action="/user/register" method="post">
        <input
          class="bg-zinc-100 block w-full px-4 py-2 border rounded-md mb-4 border-zinc-200"
          type="text"
          placeholder="Full Name"
          name="fullName"
        />
        <input
          class="bg-zinc-100 block w-full px-4 py-2 border rounded-md mb-4 border-zinc-200"
          type="email"
          placeholder="Email"
          name="email"
        />
        <input
          class="bg-zinc-100 block w-full px-4 py-2 border rounded-md mb-4 border-zinc-200"
          type="password"
          placeholder="Password"
          name="password"
        />
        <input
          class="bg-blue-500 text-white px-5 py-3 rounded-full w-full cursor-pointer"
          type="submit"
          value="Create My Account"
        />
      </form>
    </div>
  </div>

  <!-- Login Section -->
  <div class="w-full md:w-1/2 flex items-center justify-center py-6 md:py-0">
    <div class="w-full md:w-3/4 p-6 rounded-lg">
      <h4 class="text-xl md:text-2xl mb-5">Login to your account</h4>
      <form autocomplete="off" action="/user/login" method="post">
        <input
          class="bg-zinc-100 block w-full px-4 py-2 border rounded-md mb-4 border-zinc-200"
          type="email"
          placeholder="Email"
          name="email"
        />
        <input
          class="bg-zinc-100 block w-full px-4 py-2 border rounded-md mb-4 border-zinc-200"
          type="password"
          placeholder="Password"
          name="password"
        />
        <input
          class="bg-blue-500 text-white px-5 py-3 rounded-full w-full cursor-pointer"
          type="submit"
          value="Login"
        />
      </form>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
